body {
  font-family: cursive;
  background-color: rgba(12, 239, 239, 0.233);
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

img {
  display: block;
  width: 100%;

  object-fit: cover;
}

.gallery {
  /* justify-content: space-around; */
  /* padding: 15px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-bottom: 15px; */
  gap: 20px;
}

.photo-card {
  width: calc((100% / 4)- 40px);
  position: relative;
  background-color: rgba(180, 96, 197, 0.608);

  border-radius: 5px;

  overflow: hidden;

  transition: 0.3s;
}

/* .photo-card::after {
  content: '';
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.235);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s;
} */

.photo-card:hover {
  transform: scale(1.09);
  font-size: 20px;
}

.info {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: bottom;
  justify-content: space-between;
  /* color: rgba(255, 242, 0, 0.889); */
  /* color: rgba(255, 251, 0, 0.889); */
  color: aliceblue;
}

.info-item:not(:last-child) {
  margin-right: 10px;
}

.search-form {
  display: flex;
  justify-content: center;
}

input {
  width: 400px;
  height: 50px;
  font-size: 30px;
  outline: none;
  border: 5px double navy;
  border-radius: 30px;
  /* color: darkblue; */
  background-color: rgba(25, 25, 232, 0.337);
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: aliceblue;
}

button {
  height: 60px;
  width: 90px;
  margin-left: 20px;
  vertical-align: center;
  font-size: 20px;
  border: 5px solid rgba(255, 247, 3, 0.754);
  background-color: rgba(25, 25, 232, 0.337);
  border-radius: 10px;
  color: aliceblue;
}
