html {
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  width: 100%;

  object-fit: cover;
}

.gallery {
  justify-content: space-around;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-card {
  width: calc((100% / 3)- 90px);
  position: relative;
  background-color: rgb(248, 248, 248);

  border-radius: 20px;

  overflow: hidden;

  transition: 0.3s;
}

/* .photo-card::after {
  content: '';
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.235);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s;
} */

.photo-card:hover {
  transform: scale(1.02);
}

.info {
  display: flex;
  justify-content: space-around;
}

.photo-card .info b {
  opacity: 0;
  transition: 0.2s;
  color: #fff;
}
.photo-card:hover .info b {
  position: relative;
  z-index: 200;
  opacity: 1;
  color: rgb(0, 0, 0);
}